textarea {
    min-height: 400px;
}

.email-row {
    display: flex;
    /* font-size: 20px; */
    flex-direction: row;
    justify-content: space-between;
    padding: 8px;
    border: 1px solid #aaa;
    border-left: none;
    border-right: none;
}
.email-row:not(.email-heading-inbox) {
    cursor: pointer;
}
.email-row:not(.email-heading-inbox):hover {
    background-color: #dddddd;
    transition: background-color 0.2s ease-in-out;
}
.email-heading-inbox {
    border: none;
    font-weight: bold;
    color: #555;
}
.read {
    background-color: #efefef;
}
.sender-inbox {
    font-weight: bold;
    margin: 0px 8px 0px 0px;
    width: 240px;
}
.subject-inbox {
    flex-grow: 1;
    margin: 0px 8px;
}
.timestamp-inbox {
    margin: 0px 0px 0px 8px;
    width: 240px;
    text-align: right;
}

.email-container {
    display: flex;
    flex-direction: column;
}
.email-body {
    margin: 16px 0px;
    padding: 16px 0px;
    border-top: 1px solid #ddd;
    /* Setting white space to pre-wrap to preserve new lines and tabs in the email */
    white-space: pre-wrap;
}